<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HRScope</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    @entryPointScripts('app')
    @entryPointStyles('app')
    <script
      src="https://cdn.jsdelivr.net/npm/bulma-calendar@6.1.19/dist/js/bulma-calendar.min.js"
      integrity="sha256-8QsmLlhrd0iPG7RQZvk0dmQfJmF2zLZd/JH8r+vHc4s="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma-calendar@6.1.19/dist/css/bulma-calendar.min.css"
      integrity="sha256-bletkBeqVk+H2buw1Brxv7UTrxKLPSc+SwEVnGpAWO0="
      crossorigin="anonymous"
    />
  </head>

  <body>
    <main>
      <div class="container">
        <div class="column">
          <form action="{{ route('MainsController.index') }}" method="POST">
            <h1 class="title">Person 1</h1>
            <div class="field">
              <label class="label">ชื่อ</label>
              <div class="control">
                <input class="input" name="name_1" type="text" required placeholder="ชื่อ" />
              </div>
            </div>
            <div class="field">
              <label class="label">นามสกุล</label>
              <div class="control">
                <input class="input" name="surname_1" type="text" required placeholder="นามสกุล" />
              </div>
            </div>
            <div class="field">
              <label class="label">วัน-เดือน-ปีเกิด</label>
              <div class="control">
                <input class="bulma-calendar" required name="bdate_1" />
                <p class="test-text1" onclick="changeToBC1()">Click here to show BC</p>
              </div>
            </div>
            <div class="field">
              <label class="label">เลขบัตรประชาชน</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  inputmode="numeric"
                  name="cid_1"
                  maxlength="13"
                  size="13"
                  required
                  placeholder="เลขบัตรประชาชน"
                />
              </div>
            </div>

            <h1 class="title">Person 2</h1>
            <div class="field">
              <label class="label">ชื่อ</label>
              <div class="control">
                <input class="input" name="name_2" type="text" required placeholder="ชื่อ" />
              </div>
            </div>
            <div class="field">
              <label class="label">นามสกุล</label>
              <div class="control">
                <input class="input" name="surname_2" type="text" required placeholder="นามสกุล" />
              </div>
            </div>
            <div class="field">
              <label class="label">วัน-เดือน-ปีเกิด</label>
              <div class="control">
                <input class="bulma-calendar" required name="bdate_2" />
                <p class="test-text2" onclick="changeToBC2()">Click here to show BC</p>
              </div>
            </div>
            <div class="field">
              <label class="label">เลขบัตรประชาชน</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  inputmode="numeric"
                  name="cid_2"
                  maxlength="13"
                  size="13"
                  required
                  placeholder="เลขบัตรประชาชน"
                />
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button class="button is-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>

<script>
  function changeToBC1(){
    // Get the input element
    const input = document.querySelector('input[name="bdate_1"]');
    const out = document.querySelector('.test-text1')

    // Get the current value
    const currentValue = input.value;

    // Split the value into date and time parts
    const [datePart, timePart] = currentValue.split(' ');

    // Split the date part into day, month, and year
    const [day, month, year] = datePart.split('-');

    // Convert the year to a number and add 543
    const newYear = Number(year) + 543;

    // Combine the new date and time parts
    const newDatePart = `${day}-${month}-${newYear}`;
    const newDateTime = `${newDatePart} ${timePart}`;

    // Set the new value back to the input
    out.textContent = newDateTime;
  }

  function changeToBC2(){
    // Get the input element
    const input = document.querySelector('input[name="bdate_2"]');
    const out = document.querySelector('.test-text2')

    // Get the current value
    const currentValue = input.value;

    // Split the value into date and time parts
    const [datePart, timePart] = currentValue.split(' ');

    // Split the date part into day, month, and year
    const [day, month, year] = datePart.split('-');

    // Convert the year to a number and add 543
    const newYear = Number(year) + 543;

    // Combine the new date and time parts
    const newDatePart = `${day}-${month}-${newYear}`;
    const newDateTime = `${newDatePart} ${timePart}`;

    // Set the new value back to the input
    out.textContent = newDateTime;
  }

  const options = {
    type: 'datetime',
    lang: 'th',
    displayYearsCount: 100,
    dateFormat: 'dd-MM-yyyy',
  };

  var myCal = bulmaCalendar.attach('.bulma-calendar', options)

</script>
